body {
    width: 100vw;
    text-align: center;
}

ul {    
    max-width: 1200px;
    margin: 80px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

img {
    width: 400px;
    margin: 50px;
    border-radius: 32px;
    box-shadow: 0px 0px 50px 15px #555;
}

a:active img {
    box-shadow: 0px 0px 50px 15px #888; 
}