/* General Rules-------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    --black: #151515;
    --Dark-Grey: #242424;
    --Green: #4EE1A0;
    --Grey: #D9D9D9;
    --White: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    background-color: var(--black);
    color: var(--White);
}

.conteiner {
    max-width: 1170px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.dfx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Main Rules----------------------------------------------------------- */

.top_header {
    padding-top: 39px;
    padding-bottom: 62px;
}

.logo:link,
.logo:visited,
.logo:focus,
.logo:hover,
.logo:active {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;
    text-decoration: none;
    cursor: pointer;
    color: var(--White);
    transition: all 0.3s ease-in-out;
}

nav ul {
    width: 193px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-flex;
    width: min-content;
    list-style-type: none;
}

.social1 {
    background-color: #fff;
    width: 25px;
    height: 24px;
    mask-image: url('./img/github.svg');
    transition: all 0.3s ease-in-out;
}

.social1:hover {
    background-color: #181717;
}

.social2 {
    background-color: #fff;
    width: 30px;
    height: 34px;
    position: relative;
    mask-image: url('./img/telegram.svg');
    transition: all 0.3s ease-in-out;
}

.social2:hover {
    background-color: #0088cc;
}

.social3 {
    background-color: #fff;
    width: 25px;
    height: 24px;
    mask-image: url('./img/linkedin.svg');
    transition: all 0.3s ease-in-out;
}

.social3:hover {
    background-color: #0077B5;
}

.social4 {
    background: url('./img/instagram.svg');
    width: 24px;
    height: 25px;
    transition: all 0.3s ease-in-out;
}

.social4:hover {
    background: url('./img/instagram2.svg');
}

.greetings {
    max-width: 707px;
    padding: 65px 0 120px;
    position: relative;
}

h1,
h2 {
    margin-bottom: 43px;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    position: relative;
}

h1::before {
    content: url(./img/ovals.svg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    transform: translate(-265px, -65px);
}

h1 span {
    text-decoration: underline var(--Green);
    text-decoration-skip-ink: none;
    text-underline-offset: 11.5px;
    white-space: nowrap;
}

.greetings p {
    max-width: 455px;
    margin-bottom: 66px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--Grey);
}

.contact_me,
.contact_me:link,
.contact_me:visited {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    color: var(--White);
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--Green);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.contact_me:hover,
.contact_me:focus,
.contact_me:active {
    color: var(--Green);
    cursor: pointer;
}

.img_container {
    width: 444px;
    height: 719px;
    overflow: hidden;
    position: relative;
    position: absolute;
    top: -198px;
    right: -404px;
    z-index: -1;
}

.greetings img {
    position: relative;
    right: 127px;
    filter: grayscale(100%);
}

.hr {
    width: 1110px;
    height: 1px;
    margin-bottom: 72px;
    border-top: 1px solid var(--White);
}

.hr2 {
    display: none;
}

.skills {
    margin-bottom: 140px;
    gap: 58px 30px;
    position: relative;
}

.skills_wrapper {
    overflow-x: hidden;
    position: relative;
}

.skills_wrapper::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: url(.././img/ovals.svg);
    transform: translate(75%, -50%);
}

.skill {
    width: 345px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 14px;
}

.skill h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
}

.skill p {
    color: var(--Grey);
}

.header_examples {
    margin-bottom: 80px;
}

.examples>* {
    margin-bottom: 69px;
    position: relative;
}

.examples img {
    width: 540px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px 10px #555;
}

.examples h3 {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.examples p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--Grey);
}

.examples div:last-child {
    display: flex;
    justify-content: start;
    gap: 18px;
}

[class^="hov_links"] {
    width: 540px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 18px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

@media (min-width: 1160px) {
    [class^="hov_links"] a {
        transform: scale(2, 2);
    }
}

.hov_links1:hover,
.hov_links1:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

.hov_links2:hover,
.hov_links2:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

.hov_links3:hover,
.hov_links3:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

.hov_links4:hover,
.hov_links4:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

.hov_links5:hover,
.hov_links5:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

.hov_links6:hover,
.hov_links6:hover a {
    opacity: 1;
    transform: scale(1, 1);
}

footer {
    padding-top: 84px;
    background-color: var(--Dark-Grey);
}

footer section {
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}



footer section::after {
    content: url(./img/ovals.svg);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-370px, 45px);

}

.my_message {
    max-width: 445px;
}

.my_message h2 {
    margin-bottom: 36px;
}

footer p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--Grey);
}

.his_message {
    max-width: 445px;
    gap: 32px;
    justify-content: end;
}

input,
textarea {
    width: 100%;
    padding: 0 24px 17px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.222222px;
    opacity: 0.5;
    border: none;
    background: var(--Dark-Grey);
    outline: none;
    border-bottom: 1px solid var(--White);
}

textarea {
    height: 107px;
    resize: none;
}

footer .top_header {
    padding-top: 47px;
    padding-bottom: 92px;
    border-top: 1px solid var(--White);
}

footer ul {
    margin: 0;
}

@media (max-width: 1160px) {

    .conteiner {
        max-width: 748px;
        padding: 0 20px;
    }

    .top_header {
        padding: 25px 0 25px;
    }

    h1 {
        margin-bottom: 66px;
        max-width: 331px;
    }

    h1,
    h2 {
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -2.04545px;
    }

    h1 span {
        white-space: wrap;
    }

    .greetings {
        padding-bottom: 72px;
    }

    .greetings p {
        max-width: 331px;
        margin-bottom: 34px;
        font-weight: 500;
    }

    .img_container {
        width: 322px;
        height: 600px;
        top: -100px;
        right: -1px;
    }

    .greetings img {
        transform: scale(81%);
        right: 200px;
        top: -98px;
    }

    .hr {
        width: 708px;
        margin-bottom: 52px;
    }

    .skills {
        margin-bottom: 100px;
        gap: 52px 9px;
    }

    .examples {
        margin-bottom: 76px;
    }

    .examples img {
        width: 345px;
        height: 253px;
        border-radius: 12px;
    }

    [class^="hov_links"] {
        width: 345px;
        height: min-content;
        bottom: -58px;
        background-color: transparent;
        opacity: 1;
        flex-direction: row;
        justify-content: start;
        align-items: flex-end;
        column-gap: 16px;
    }

    .examples>* {
        margin-bottom: 81px;
    }

    footer {
        padding-top: 60px;
    }

    footer section {
        flex-direction: column;
        align-items: center;
        row-gap: 48px;
    }

    footer h2{
        margin-bottom: 20px;
        text-align: center;
    }
    footer p {
        text-align: center;
    }

    footer .top_header {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

/* max-width: 748px ------------------------------------------------ */

@media (max-width: 748px) {

    .conteiner {
        max-width: calc(100vh - 32px);
        padding: 0 16px;
    }

    .top_header {
        padding-top: 20px;
        padding-bottom: 32px;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 20px;
        column-gap: 64px;
    }

    nav ul {
        margin-right: 0;
    }

    .img_container {
        width: 274px;
        height: 384px;
        position: relative;
        top: -60px;
    }

    .greetings {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .greetings img {
        transform: scale(62%);
        right: 212px;
        top: -289px;
    }

    h1 {
        max-width: calc(100vh - 32px);
        margin-top: -20px;
        margin-bottom: 24px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }

    h1::before {
        top: -400px;
    }

    .greetings p {
        max-width: calc(100vh - 32px);
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .hr {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .skills {
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 24px 0;
    }

    .hr2 {
        display: block;
    }

    .skills article {
        width: 250px;
        gap: 1px;
    }

    .skill h3 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -1px;
    }

    .skill p {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    h2 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 0;
    }
    .examples {
        margin-bottom: 45px;
        justify-content: center;
    }

    

    .examples img {
        width: 100%;
        height: min-content;
        border-radius: 8px;
    }

    [class^="hov_links"] {
        bottom: -47px;
    }
}