/* Особенности с дискретными свойствами и их интерполяция + Popover  */
.card {
    transition-property: all, display;
    transition-duration: 2s;
    transition-behavior: allow-discrete;
}

.card.fade-out {
    opacity: 0;
    display: none;
}


[popover]:popover-open {
    opacity: 1;
    transform: scaleX(1);
}

[popover] {
    opacity: 0;
    transform: scaleX(0);

    transition: all 0.7s;
}

@starting-style {
    [popover]:popover-open {
        opacity: 0;
        transform: scaleX(0);
    }
}


@keyframes moveAndRotate {
    0% {
      transform: translateX(0) rotate(0deg);
      background-color: red;
    }
    50% {
      transform: translateX(100px) rotate(180deg);
      background-color: yellow;
    }
    100% {
      transform: translateX(0) rotate(360deg);
      background-color: red;
    }
  }
  
  .animated-element {
    width: 50px;
    height: 50px;
    background-color: red;
    animation: moveAndRotate 3s linear infinite 1s alternate both running;
  }
  /* ------------------------------------------------------- */
  abbr {
    color: chocolate;
  }
  
  @media (hover: hover) {
    abbr:hover {
      color: limegreen;
      transition-duration: 1s;
    }
  }
@media not all and (hover: hover) {
  abbr::after {
    content: ' (' attr(title) ')';
  }
}
