/* Resources */

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sfprotext-bold-webfont.woff2') format('woff2'),
        url('./fonts/sfprotext-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/sfprotext-medium-webfont.woff2') format('woff2'),
        url('./fonts/sfprotext-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./fonts/sfprotext-regular-webfont.woff2') format('woff2'),
        url('./fonts/sfprotext-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/sfprotext-semibold-webfont.woff2') format('woff2'),
        url('./fonts/sfprotext-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.material-symbols-outlined {
    margin-left: 12px;
    padding: 8px;
    color: var(--font-color);
    background-color: var(--main-blue);
    border-radius: 50%;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    transform: rotate(45deg);
}

.invert,
[class^="button_white arrow_upward"]:hover .material-symbols-outlined {
    color: var(--main-blue);
    background-color: var(--font-color);
}

/* General styles*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-blue);
}

:root {
    --main-blue: #183DFF;
    --light-blue: #3051FF;
    --font-color: #fff;
    --add-font-color: #AEBBFF;

}

h2 {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: var(--font-color);
}

h3 {
    font-family: 'SF Pro Text';
    font-style: normal;
    color: var(--font-color);

}

a {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--font-color);
    letter-spacing: 0.01em;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.list_of_doctors li {
    flex: 1 1 auto !important;
    margin: 12px;
}

p {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    color: var(--font-color);
    line-height: 1.333;
}

.p_18 {
    margin-top: 8px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    color: var(--font-color);
    font-size: 32px;
    font-size: 18px;
    line-height: 1.333;
    display: flex;
}

.w300 {
    width: 300px;
}

.fxg-0 {
    flex-grow: 0;
}

.fxg-1 {
    flex-grow: 1;
}

.fxg-2 {
    flex-grow: 2;
}

/* header + footer */

header {
    max-width: 1272px;
    margin: 56px auto 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_nav {
    max-width: 701px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    width: 582px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    max-width: 1272px;
    padding: 40px 80px 80px;
    margin: 40px auto 0;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--font-color);
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;
}

.footer_ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
}

.social_media {
    max-width: 144px;
    display: flex;
    gap: 16px;
}

.social_media a, .social_media li {
    display: inline-block;
    line-height: 0;
}

.social_media img {
    width: 24px;
    height: 24px;
}

/* Links */
button {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 12px 32px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--font-color);
    background-color: var(--main-blue);
    border: 1px solid var(--font-color);
    border-radius: 100px;
}

button:hover,
button:focus {
    color: var(--main-blue);
    background-color: var(--font-color);
    border: 1px solid var(--main-blue);
    cursor: pointer;
}

.button_white {
    color: var(--main-blue);
    background-color: var(--font-color);
    border: 1px solid var(--main-blue);
    border: none;
    display: flex;
    align-items: center;
}

.button_white:hover,
.button_white:focus {
    padding: 2.75px 4px 2.75px 32px;
    color: var(--font-color);
    background-color: var(--main-blue);
    border: 1px solid var(--font-color);
    cursor: pointer;
}

.real_white:focus,
.real_white:hover {
    padding: 10.75px 30.75px;
    border: 1px solid var(--font-color);
    cursor: pointer;
}

.arrow_upward {
    padding: 4px 4px 4px 32px;
}

[type="submit"] {
    border: 1px solid var(--main-blue);
}

[type="submit"]:hover {
    border: 1px solid var(--font-color);
}

.p_3_2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #AEBBFF;
    color: #000000;
}

.info_buttons_wrapper {
    width: 328px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

[class^="article"] button {
    width: 344px;
    margin: 0 24px;
    position: absolute;
    top: 323px;
}

.additional_information a:link {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-decoration: none;
}

.additional_information a:visited {
    color: var(--font-color);
}

.additional_information a:focus,
.additional_information a:hover {
    color: var(--add-font-color);
    text-decoration: underline;
}

.additional_information a:active {
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: var(--add-font-color);
}

nav a:focus,
nav a:hover {
    font-weight: 600;
    color: var(--font-color);
}

nav a:active {
    text-decoration: underline;
}

.a1 {
    box-sizing: border-box;
    width: 135px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.broad_article a:hover {
    text-decoration: underline;
}

/* Main content */


.section1 {
    max-width: 1290px;
    margin: 0 auto;
    position: relative;
}

h1::first-line {
    max-width: 644px;
    font-size: 120px;
    line-height: 143px;
    color: #FFFFFF;
}

h1 {
    max-width: 1290px;
    margin: 0 auto;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

[href^="tel:"] {
    padding: 21.5px 16px 21.5px 44px;
    background: var(--light-blue) url(./imgs/receiver.svg) no-repeat 16px center;
    border-radius: 16px;
    position: absolute;
    right: 72px;
    top: 46px;
}


.section2 {
    max-width: 1279px;
    margin: -12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.section2 figure {
    width: 296px;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

figcaption {
    max-width: 291px;
}

.section2 figure:first-child {
    width: 628px;
    gap: 16px;
}



.pklp {
    margin: 8px 0;
}


address {
    padding: 21.5px 16px 21.5px 44px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: var(--font-color);
    background: var(--light-blue) url(./imgs/map-pin.svg) no-repeat 16px center;
    border-radius: 16px;
    position: relative;
    top: -67px;
}

.section3 {
    padding: 0 24px 56px;
    max-width: 1272px;
    margin: 0 auto;
    background-color: var(--font-color);
    border-radius: 24px;
}

.section3 h2 {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 56px;
    color: #000000;
    text-align: center;
}

.wrapper_articles {
    width: 1224px;
    margin: 127px auto 0;
    display: flex;
    justify-content: space-between;
}

[class^="article"] {
    width: 392px;
    height: 391px;
    position: relative;
    background: var(--main-blue);
    border-radius: 20px;
}

[class^="article"] img:nth-child(1) {
    position: absolute;
}

.hover_element {
    position: absolute;
    top: 174px;
    transition: all 0.3s ease;
}

[class^="article"] img:nth-child(3) {
    position: absolute;
    top: 174px;
}

.article1 img:nth-child(4) {
    position: absolute;
    top: -122px;
}

.article2 img:nth-child(4) {
    margin-left: 32px;
    position: absolute;
    top: -127px;
}

.article3 img:nth-child(4) {
    position: absolute;
    top: -131px;
}

.article4 img:nth-child(4) {
    position: absolute;
    top: -105px;
}

.article5 img:nth-child(4) {
    position: absolute;
    top: -132px;
}

.article6 img:nth-child(4) {
    position: absolute;
    top: -125px;
}

.white_h3 {
    margin: 0 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    top: 190px;
}

[class^="article"] p {
    height: 72px;
    margin: 0 24px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 235px;
    overflow: hidden;
    transition: overflow 0.3s ease-in-out;
    position: relative;
}

[class^="article"] p:hover {
    overflow-y: auto;
}

[class^="article"]:hover .hover_element {
    top: 0;
}

.section4 {
    max-width: 1272px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section4 h2 {
    max-width: 734px;
}

.section4 article {
    max-width: 1272px;
    background-color: var(--light-blue);
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
}

.list_of_doctors {
    max-width: 556px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4 p {
    font-size: 24px;
}

.list_of_doctors div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section4 li {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--font-color);
}

.section4 img {
    border-radius: 24px;
}

.img_wrapper {
    position: relative;
}

.doctor_and_dog {
    position: absolute;
    top: 40px;
    right: 40px;
}

.section5 {
    max-width: 1272px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section5 section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.section5 article {
    flex-grow: 0;
}

.broad_article {
    box-sizing: border-box;
    width: 624px;
    padding: 24px;
    background-color: var(--light-blue);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.article_img {
    width: 220px;
    height: 158px;
}

.section5 p {
    font-size: 24px;
    line-height: 32px;
}

.broad_article p {
    max-width: 425px;
}

.narrow_article {
    box-sizing: border-box;
    padding: 24px 18px 24px 24px;
    border: 1px solid var(--font-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.narrow_article {
    cursor: pointer;
}

.narrow_article:hover p {
    text-decoration: underline;
}

.section7 {
    max-width: 1272px;
    /* height: 800px; */
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.achievements {
    max-width: 100%;
    font-size: 24px;
    line-height: 32px;
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.achievements p {
    font-size: 24px;
    line-height: 32px;
    max-width: 628px;
}

[class^=achievements_in_numbers] {
    box-sizing: border-box;
    padding-left: 18px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    color: var(--font-color);
    border-left: 1px solid var(--font-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
}

.achievements_in_numbers1 {
    width: 180px;
}

[class^=achievements_in_numbers] p:first-child {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
    color: var(--font-color);
}

.achievements_in_numbers2 {
    width: 223px;
}

.section7 section {
    max-width: 1279px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.collaborate {
    width: 300px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.p_img {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 40px;
    gap: 8px;
    width: 300px;
    height: 136px;
    background: var(--light-blue);
    border-radius: 16px;
}

.p_img p {
    width: 132.04px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--add-font-color);
}

.end_a {
    box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 27px;
    border: 1px solid var(--font-color);
    border-radius: 16px;
}

.end_a a {
    /* width: 190px; */
    font-size: 24px;
    line-height: 32px;
}

.section8 {
    max-width: 1272px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.reviews {
    max-width: 1272px;
    margin: 24px auto 0;
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
}

.reviews:first-child {
    margin-top: 40px;
}

.reviews article {
    box-sizing: border-box;
    min-width: 300px;
    max-width: 676px;
    height: 216px;
    padding: 24px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    row-gap: 16px;
    background: var(--font-color);
    border-radius: 20px;
}


.name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.name p {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.date {
    font-size: 24px;
    line-height: 32px;
    color: var(--add-font-color);
}

.comment {
    width: 100%;
    height: 112px;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    flex: none;
    word-break: normal;
    overflow: hidden;
}

.comment:hover {
    overflow-y: auto;
}

[src^="./imgs/person"] {
    width: 40h;
    height: 40px;
    border-radius: 50%;
}

details {
    display: flex;
    gap: 40px;
}

summary {
    box-sizing: border-box;
    width: 222px;
    margin: 20px auto -20px;
}

.view_reviews {
    box-sizing: border-box;
    width: 218px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    border-radius: 100px;
}

.view_reviews:hover {
    width: 220px;
}

.view_reviews::before {
    content: "View all Reviews";
}

details[open] .view_reviews::before {
    content: "Close all Reviews";
}

details[open] .view_reviews {
    width: 224px;
}

details[open] .view_reviews:hover {
    width: 227px;
}

details>summary:first-of-type {
    list-style: none;
}

.section9 {
    width: 1272px;
    margin: 160px auto;
    border-radius: 24px;
    background-color: var(--light-blue);
    display: flex;
}

.section9 article {
    /* height: 587px; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.a_mail {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
}

form {
    width: 636px;
    background-color: var(--font-color);
    padding: 90px 40px 40px 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form div {
    /* width: 100%; */
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid var(--main-blue);
}

input {
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: var(--main-blue);
}

input::placeholder {
    color: #DEDEDE;
}

.form_button {
    margin: 89px auto 0 0;
}

.section10 {
    max-width: 1272px;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section10 div {
    max-width: 576px;
    margin: 0px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.additional_information {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.additional_information article {
    max-width: 294px;

}

.additional_information h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--font-color);
}

.additional_information ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.additional_information .social_media {
    max-width: 168px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 24px;
}












.p_down {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}