.settings:link,
.settings:visited {
    background: url("https://img.icons8.com/?size=32&id=4299&format=png&color=E0E0E0") no-repeat center center;
}

.task:hover {
    cursor: pointer;
}

.task:active {
    background: rgba(224, 224, 224, 0.1);
}

.task {
    display: inline-flex;
    width: 100%;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: var(--body_text);
    text-align: left;
    border: none;
    border-bottom: 4px solid var(--dividing_lines);
    border-radius: 0 0 60px 60px;
    background: linear-gradient(180deg, #121212 30%, rgba(224, 224, 224, 0.07) 100%);
    position: relative;
}

.task::after {
    width: 65px;
    height: 48px;
    margin-left: auto;
    background: url("https://img.icons8.com/?size=40&id=12865&format=png&color=000000") no-repeat right top;
}

.additional_information_about_the_task {
    font-size: 16px;
    position: absolute;
    bottom: 14px;
    left: 79px;
}

.additional_information_about_the_task>*:not(:last-child)::after {
    width: 12px;
    height: 19px;
    color: var(--body_text);
    content: " | ";
}

.file, .repeatability, .location {  
    position: relative;
    top: 5px;}


.uncompleted::before {
    width: 48px;
    height: 48px;
    content: "";
    background: url("https://img.icons8.com/?size=42&id=44448&format=png&color=E0E0E0") no-repeat left top;
}

.completed {
    opacity: 0.7;
}

.completed::before {
    width: 48px;
    height: 48px;
    content: "";
    background: url("https://img.icons8.com/?size=42&id=11658&format=png&color=E0E0E0") no-repeat left top;
}

.task_create {
    margin-top: 15px;
    padding: 30px;
    font-size: 42px;
    color: var(--dividing_lines);
    text-align: left;
    text-decoration: none;
    border: none;
    border-bottom: 4px solid var(--dividing_lines);
    border-radius:0 0 60px 60px;
    background: linear-gradient(180deg, #121212 30%, rgba(224,224,224,0.07) 100%);
}

.task_create:hover {
    cursor: pointer;
}

.task_create:active {
    background: linear-gradient(180deg, #121212 0%, rgba(224,224,224,0.1) 100%);
}

summary {
    display: inline-flex;
    margin: 10px 30px;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: var(--body_text);
    text-align: left;
    border: none;
    border-bottom: 4px solid var(--dividing_lines);
    border-radius: 0 0 60px 60px;
    background: linear-gradient(180deg, #121212 30%, rgba(224, 224, 224, 0.07) 100%);
}

summary::before {
    width: 38px;
    height: 48px;
    content: url("https://img.icons8.com/?size=42&id=61&format=png&color=E0E0E0");
}

details[open] summary::before {
    width: 50px;
    height: 48px;
    content: url("https://img.icons8.com/?size=42&id=61&format=png&color=E0E0E0");
    transform: rotate(90deg);
}

/* additional_information_about_the_task
----------------------------------------------- */
.task1::after {
    content: "1";
}

.task1 .source_list::before {
    content: "Работа";
    color: rgba(255, 166, 0);
}

.task1 .step::before {
    content: "2 из 4";
}

.task1 time::before {
    content: "2024-09-02";
}

.task2::after {
    content: "2";
}

.task3::after {
    content: "3";
}

.task3 .source_list::before {
    content: "Учеба";
    color: rgba(235, 19, 19);
}

.task3 .step::before {
    content: "3 из 4";
}

.task3 time::before {
    content: "2024-08-28";
}

.task4::after {
    content: "4";
}

.task5::after {
    content: "5";
}

.task6::after {
    content: "6";
}

.task6 .source_list::before {
    content: "Личное";
    color: rgba(0, 128, 0);
}

.task6 .step::before {
    content: "3 из 4";
}

.task6 time::before {
    content: "2024-08-28";
}

.task7::after {
    content: "7";
}