* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    color: #21092F;
}

body {
    width: 96vw;
}

.form_section_wrapper {
    width: 100%;
    min-height: 900px;
    background: url(./img/form_bgpng.png) no-repeat calc((100vw - 1049px) / 2 - 164px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.form_section {
    max-width: 1049px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column;
    justify-content: center;
    align-content: space-between;*/
    flex-wrap: wrap;
    column-gap: 127px;
}

.cards_photos {
    margin: 0 auto;
    width: 527px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.cards_photos :first-child {
    align-self: flex-start;
}

.cards_photos :last-child {
    align-self: flex-end;
}

.card_form {
    width: 381px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;

}

label {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

input {
    display: inline-block;
    width: 100%;
    margin-top: 9px;
    padding: 11px 16px;
    border: 1px solid #DFDEE0;
    border-radius: 8px;
}

.mmyy_cvc {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.label_input_mmyy {
    width: 170px;
    height: 69px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.input_mmyy>input {
    width: 80px;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.label_input_cvc {
    width: 170px;

}

[type="submit"] {
    width: 381px;
    margin-top: 40px;
    padding: 15px;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    background: #21092F;
    border: 2px solid #21092F;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

[type="submit"]:hover {
    cursor: pointer;
    color: #21092F;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px 0px rgba(24, 7, 34, 0.5);
}

[type="submit"]:active {
    color: #21092F;
    background: #FFFFFF;
    box-shadow: 2px 2px 7px 0px rgba(24, 7, 34, 0.23);
    transform: translateY(2px);
}

/* LVFHA */