$person-img-border-light: #A775F1;
$person-img-border-standard: #733FC8;
$card-bgcol-accent: #733FC8;
$card-bgcol-grau: #48556A;
$card-bgcol-dark: #19202D;
$main-text-color-on-colored: #ffffff;
$main-text-color-on-white: $card-bgcol-grau;

section {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  grid-auto-flow: dense row;
  gap: 30px 24px; 
}

.card {
  padding: 32px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  color: $main-text-color-on-colored;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;

  &.bgcol_accent { background: $card-bgcol-accent url(./img/two_apostrophes.svg) no-repeat top right 80px;}
  &.bgcol-dark { background-color: $card-bgcol-dark; }
  &.bgcol-grau { background-color: $card-bgcol-grau; }
  &.bgcol-white {
    color: $main-text-color-on-white;
    background-color: $main-text-color-on-colored;
  }
  
  &.two_cells_vertically { grid-column-end: span 2; }
  &.two_cells_horizontally {
    grid-row-end: span 2;
    grid-column-start: -2;
  }

  &__PersonData {
    width: 45px;
    height: 28px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    &__img {
      border-radius: 50%;
      display: inline-block;

      &.border_A775F1 {
        border: 2px solid $person-img-border-light; 
      }
      &.border_733FC8 {
        border: 2px solid $person-img-border-standard; 
      }
    }

    & cite,
    &__TrainingStage {
      width: max-content;
      font-style: normal;
      position: absolute;
      right: 0;
      transform: translateX(100%);
    }

    & cite {
      font-size: 13px;
      line-height: 13px;
      top: 0;
    }

    &__TrainingStage {
      margin: 0;
      font-size: 11px;
      line-height: 11px;
      bottom: 0;
      opacity: 0.5;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  &__story {
    font-size: 13px;
    line-height: 18px;
    opacity: 0.7;
  }
}