$bg-color: rgb(236, 219, 195);
$contrasting-bg-color: rgb(184, 147, 119);
$activ-color: rgb(57, 98, 123);
$border-color: rgb(29, 16, 12);
$text-color: rgb(10, 12, 16);

header {
  nav > ul {
    display: flex;
    justify-content: space-between;

    & > ul {
      display: flex;
      justify-content: flex-end;
      & > ul {
        display: flex;
        justify-content: flex-end;
        & > a,
        li {
          width: 44px;
        }
      }
    }
  }
}

  .logo {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 56px;
    &:hover {
      padding-right: 25px;
      padding-left: 25px;}
  }

  a,
  li {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-weight: 600;
    font-size: 44px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    color: $text-color;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
      background 0.5s ease,
      border-right 0s ease,
      border-left 0s ease;
  }
  
  a:hover {
    padding-right: 5px;
    padding-left: 5px;
    background: $activ-color radial-gradient(circle farthest-side, rgba(12, 15, 33, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    border-right: $border-color 6px solid;
    border-left: $border-color 6px solid;

    &.logo {
      padding-right: 25px;
      padding-left: 25px;
    }

    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-color: #000;
      border-radius: 50%;
    }

    &::before {
      top: -8px;
      left: -10px;
    }

    &::after {
      bottom: -8px;
      left: -10px;
    }
  }

  li:hover,
  .logo:hover {
    &::before,
    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-color: #000;
      border-radius: 50%;
    }

    &::before {
      top: -8px;
      right: 4px;
      z-index: 1;
    }

    &::after {
      right: 4px;
      bottom: -8px;
    }
  }
