.tasks_list:link, .tasks_list:visited {
    display: block;
    padding: 30px;
    text-align: left;
    font-size: 42px;
    text-decoration: none;
    border-radius:0 0 60px 60px;
    background: linear-gradient(180deg, #121212 30%, rgba(224,224,224,0.07) 100%);
}

.tasks_list:focus, .tasks_list:hover {
    text-decoration: underline;
}

.tasks_list:active {
    background: linear-gradient(180deg, #121212 0%, rgba(224,224,224,0.1) 100%);
}

.list_create {
    margin-top: 15px;
    padding: 30px;
    font-size: 42px;
    color: var(--dividing_lines);
    text-align: left;
    text-decoration: none;
    border: none;
    border-bottom: 4px solid var(--dividing_lines);
    border-radius:0 0 60px 60px;
    background: linear-gradient(180deg, #121212 30%, rgba(224,224,224,0.07) 100%);
}

.list_create:hover {
    cursor: pointer;
}

.list_create:active {
    background: linear-gradient(180deg, #121212 0%, rgba(224,224,224,0.1) 100%);
}

.current_tasks {
    border-bottom: 4px solid var(--current_tasks);
}

.planning {
    border-bottom: 4px solid var(--planning);
}

.unplanned_tasks {
    border-bottom: 4px solid var(--unplanned_tasks);
}

/* User personalization
----------------------------------------------------------- */

.Работа{
    border-bottom: 4px solid rgba(255, 166, 0, 0.1);
}
.Личное{
    border-bottom: 4px solid rgba(0, 128, 0, 0.1);
}
.Учеба {
    border-bottom: 4px solid rgba(235, 19, 19, 0.1);
}