/* Standard settings
----------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    line-height: 1;
    background: #0000;
    box-sizing: border-box;
}

:root {
    --application_background: #121212ff;
    --body_text: #E0E0E0;
    --accents: #1E90FF;
    --buttons: #6200EA;
    --errors: rgb(255, 82, 82);
    --success: #4CAF50;
    --current_tasks: rgb(30, 30, 255, 0.1);
    --planning: rgba(0, 141, 5, 0.1);
    --unplanned_tasks: rgba(207, 0, 200, 0.1);
    --dividing_lines: #2E2E2E;
    --selection: #82B1FF;
    --header_size: 44px;
    --text_size: calc(var(--header_size)*0.875);
    --under_text: calc(var(--header_size)/3);
}

body {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--application_background);
}

a {
    color: var(--body_text);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--header_size);
}

a, input {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

.chin {
    width: 100vw;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--text_size);
    color: var(--body_text);
    text-align: left;
    line-height: 1;
    border: none;
    border-bottom: 4px solid var(--application_background_custom, var(--dividing_lines));
    border-radius: 0 0 60px 60px;
    background: linear-gradient(180deg, #0000 30%, rgba(224, 224, 224, 0.07) 100%);
}

h1 {
    font-size: var(--header_size);
    font-weight: 500;
}

hr {
    margin: 10px;
    border-color: var(--dividing_lines);
}

.dfjcfs {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.settings:link, .settings:visited {
    box-sizing: border-box;
    width: var(--header_size);
    height: var(--header_size);
    padding: 7px;
    background: url("https://img.icons8.com/E0E0E0/32/settings--v1.png") no-repeat center center;
    border: 1px solid var(--body_text);
    border-radius: 10px;
    line-height: 0;
}

.settings:hover {
    cursor: pointer;
}

.settings:active {
    background: rgba(224,224,224,0.1);
}