.settings:link,
.settings:visited {
    background: url("https://img.icons8.com/?size=32&id=4299&format=png&color=E0E0E0") no-repeat center center;
}

body {
    justify-content: space-between;
}

.chin {
    width: 100%;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--text_size);
    color: var(--body_text);
    text-align: left;
    line-height: 1;
    border: none;
    border-bottom: 4px solid var(--dividing_lines);
    border-radius: 0 0 60px 60px;
    background: linear-gradient(180deg, #0000 30%, rgba(224, 224, 224, 0.07) 100%);

}

.difficult {
    box-sizing: border-box;
    display: inline-flex;
    padding: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--text_size);
    color: var(--body_text);
    border: 1px solid var(--body_text);
    border-radius: 10px;
}

.dynamic-input {
    min-width: 1ch;
    max-width: 10ch;
    text-align: left;
    border: none;
    outline: none;
}


label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: var(--text_size);
    color: var(--body_text);
    text-align: left;
    border: none;
    outline: none;
}

label {
    display: flex;
}

input[type="file"] {
    display: none;
}

.steps {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 60px;
}

.task {
    display: inline-flex;
}

.uncompleted::before {
    width: 48px;
    height: 48px;
    content: "";
    background: url("https://img.icons8.com/?size=42&id=44448&format=png&color=E0E0E0") no-repeat left top;
}

.completed {
    opacity: 0.7;
}

.completed::before {
    width: 48px;
    height: 48px;
    content: "";
    background: url("https://img.icons8.com/?size=42&id=11658&format=png&color=E0E0E0") no-repeat left top;
}

.repeatability_count {
    min-width: 2ch;
    max-width: 10ch;
    padding: 7px;
    text-align: left;
    border: 1px solid var(--body_text);
    border-radius: 10px;   
}

select {
    max-width: 250px;
    padding: 7px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: calc(var(--text_size) / 2);
    color: var(--body_text);
    text-align: left;
    line-height: 1;
    border: 1px solid var(--body_text);
    border-radius: 10px;   
}

option {    
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: calc(var(--text_size) / 4);
    color: var(--body_text);
    text-align: left;
    line-height: 1;
    background-color: var(--application_background);
}

.repeatability_able::before {
    content: 'Повторять раз в ';
}

.repeatability_disable::before{
    content: 'Не повторять';
    opacity: 0.7;
}
.repeatability_disable *{
    display: none;
}
























.custom-file-upload {
    display: inline-block;
    font-size: var(--text_size);
}

#file-name {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--file-name-color, #666);
}

.custom-file-upload:hover {
    cursor: pointer;
}

.buttons {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.confirm {
    width: 88px;
    height: 88px;
    background: url("https://img.icons8.com/?size=88&id=25534&format=png&color=4CAF50") no-repeat left bottom;
    border: none;
}

.back-button {

    width: 88px;
    height: 88px;
    background: url("https://img.icons8.com/?size=88&id=23537&format=png&color=FF5252") no-repeat right bottom;
    border: none;
}