body {
    padding: 40ps;
    display: flex;
    justify-content: center;
    align-items: center;
}

[class^="transport_information"] {
    box-sizing: border-box;
    width: 920px;
    height: max-content;
    padding: 48px;
    border-radius: 8px;
    position: absolute;
}

.wrapper {
    width: 920px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.transport_information_sedans {
    background: #E28625;
    color: #E28625;
}

.transport_information_suvs {
    background: #006971;
    color: #006971;
    left: 307px;
}

.transport_information_luxury {
    background: #004140;
    color: #004140;
    left: 614px;
}

.auto_img {
    margin: 0 0 35px;
}

.car_name {
    margin: 0 0 25px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #F2F2F2;
}

.advantage_of_cars {
    width: 211px;
    margin: 0 0 83px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.75;
}

.learn_more:link,
.learn_more:visited {
    display: inline-block;
    padding: 11px 32px;
    color: inherit;
    border-radius: 25px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    background: #F2F2F2;
    transition: background 0.3s ease 0s, color 0.3s ease 0s;

}

.transport_information_sedans .learn_more:hover {

    background: #E28625;
}

.transport_information_suvs .learn_more:hover {
    background: #006971;
}

.transport_information_luxury .learn_more:hover {
    background: #004140;
}

.learn_more:hover {
    cursor: pointer;
    padding: 10px 31px;
    color: #F2F2F2;
    border: 1px solid #F2F2F2;
}

.learn_more:active {
    text-decoration: underline;
}